.ce-chatbot-button, .ce-chatbot-outline-button {
    font-family: "futura-pt-condensed", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.1;
    text-transform: uppercase;
    background-color: #44478c;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    transition: background-color 0.2s;

    //Ally additions
    position: relative;
    bottom: 8px;
}

.ce-chatbot-linkbutton, .ce-chatbot-outline-button {
    font-family: "futura-pt-condensed", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.1;
    text-transform: uppercase;
    background-color:  #44478c;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    transition: background-color 0.2s;

    //Ally additions
    position: relative;
    bottom: 5px;
}

.ce-chatbot-background-secondary1 {
    background-color: #79c3b6;
}

.ce-chatbot-background-secondarybutton {
    background-color: #44478c;
}
